body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
p{ 
    color: dimgray;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;


}
.half-width img{
    width: 100%;

}
.top-banner{
    border: 1 px solid red;
    background-image: url("images/top-banner.png");
    background-position: left;
    background-repeat: no-repeat;
    height: 500px;
}
.link-button{
     text-decoration: none;
     background-color: orangered;
     padding: 10px 20px;
     border-radius: 5px;
     color: white;
     font-weight: 700;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 500px;
}
.experience-area{
    float: left;
    height: 500px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 60%;
    background-color: white;
}
#full-stack{
    border-left: 7px solid ;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}